@tailwind base;
@tailwind components;
@tailwind utilities;

.guild-logo {
  /* background-image: url('https://cdnassets.raider.io/images/profile/masthead_backdrops/v2/hordebanner15.jpg'); */
  /* background-position: top; */
  /* background-size: cover; */
  height: 200px;
}

.font-roboto-con {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Custom WOW Class Colors classes */
.death {
  color: #C41E3A;
}

.demon.hunter {
  color: #A330C9;
}

.druid {
  color: #FF7C0A;
}

.evoker {
  color: #33937F;
}

.hunter {
  color: #AAD372;
}

.mage {
  color: #3FC7EB;
}

.monk {
  color: #00FF98;
}

.paladin {
  color: #F48CBA;
}

.priest {
  color: #FFFFFF;
}

.rogue {
  color: #FFF468;
}

.shaman {
  color: #0070DD;
}

.warlock {
  color: #8788EE;
}

.warrior {
  color: #C69B6D;
}